<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <title>Document</title>
</head>

<body style="background-color: black; color: white">
    <header>
        <div style="border:5px solid #1ED760;">
            <p>Top nav bar</p>
            <h1 style="text-align: center;">Lethal Tempo</h1>
            <p style="">Main nav bar</p>
        </div>
    </header>
    <html>

    


